<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CareFish.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>323C461C2ABF6D2900DB4737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323C46322ABF6D2B00DB4737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323C463C2ABF6D2B00DB4737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
